@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&family=Roboto+Slab:wght@400;500;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s ease;
    font-family: 'Poppins', sans-serif;
}

header{
    width: 100%;
    height: 14vh;
    background-position: bottom;
    background-color:#353535;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#logo{
    height: 60px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 72vh;
    background-image: url(img/269.jpg);
    background-size: cover;
}

h1{
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    text-decoration: underline;
    color: #404040;
}

button{
    padding: 2px 10px;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 20px;
    border: solid 2px #636363;
    color: #fd8;
    background-color: #404040;
    cursor: pointer;
    font-weight: 300;
}

button:hover{
    background-color: #cecece;
    color: #444;
}

footer{
    width: 100%;
    height: 14vh;
    background-color: #202020;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

#contacts{
    border-right: solid 2px #404040;
    text-align: right;
    font-weight: 200;
    font-family: 'Roboto Slab', serif;
}

footer div{
    padding: 0 20px;
}

footer img{
    width: 25px;
    margin: 4px;
}

a{
    color: #cecece;
}

a:hover{
    color: #353535;
}

#background{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0000009a;
    backdrop-filter: blur(2px);
    opacity: 0;
    pointer-events: none;
}

#background.show{
    opacity: 1;
    pointer-events: all;
}

#open{
    position: absolute;
    background-color: #fff;
    padding: 20px;
    max-height: 90%;
    width: 90%;
    overflow-y: auto;
    top: 50%;
    transform: translateY(-50%);
    border: solid #404040;
    opacity: 0;
    pointer-events: none;
}

#open.show{
    opacity: 1;
    pointer-events: all;
}

h2{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    padding: 20PX;
    color: #404040;
    font-weight: 200;
}

#open img{
    width: 90px;
    border-radius: 50%;
    margin-right: 10px;
}

ul{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: 10px;
    
}

li{
    border: solid 2px #fd8;
    list-style: none;
    padding: 10px;
    background-color: #fff;
    text-align: center;
}

.ingredients{
    clear: both;
}

#close{
    background: none;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    border: none;
}

#close::after,#close::before{
    content: "";
    background-color: #202020;
    width: 2px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}

#close::before{
    transform: translate(-50%,-50%) rotate(135deg);
}

@media screen and (max-width: 500px) {
    footer{
        height: auto;
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }
    #contacts{
        border: none;
        text-align: center;
    }
}
